* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / 2fr 1fr;
  color: white;
}

header {
  background-color: darkblue;
  grid-column: 1 / 4;
}

header div {
  padding: 2rem;
}

nav {
  display: flex;
  padding: 1rem 0;
  justify-content: space-evenly;
  background-color: black;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  padding: 2rem;
  background-color: darkblue;
  grid-column: 1 / 2;
}

aside {
  padding: 2rem;
  color: black;
  grid-column: 2 / 3;
}

footer {
  padding: 2rem;
  background-color: black;
  grid-column: 1 / 4;
  text-align: center;
}